CMakeLists.txt.user
CMakeLists_modified.txt

Examples/RGB-D/rgbd_tum

Examples/Monocular/mono_euroc
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/Monocular/mono_tum_vi

Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti
Examples/Stereo/stereo_tum_vi

Examples/Monocular-Inertial/mono_inertial_euroc
Examples/Monocular-Inertial/mono_inertial_tum_vi

Examples/Stereo-Inertial/stereo_inertial_euroc
Examples/Stereo-Inertial/stereo_inertial_tum_vi

Examples/ROS/ORB_SLAM3/Mono
Examples/ROS/ORB_SLAM3/Mono_Inertial
Examples/ROS/ORB_SLAM3/MonoAR
Examples/ROS/ORB_SLAM3/RGBD
Examples/ROS/ORB_SLAM3/Stereo
Examples/ROS/ORB_SLAM3/Stereo_Inertial

Examples/ROS/ORB_SLAM3/CMakeLists.txt.user
Examples/ROS/ORB_SLAM3/build/

Examples_old/RGB-D/rgbd_tum_old

Examples_old/Monocular/mono_euroc_old
Examples_old/Monocular/mono_kitti_old
Examples_old/Monocular/mono_tum_old
Examples_old/Monocular/mono_tum_vi_old

Examples_old/Stereo/stereo_euroc_old
Examples_old/Stereo/stereo_kitti_old
Examples_old/Stereo/stereo_tum_vi_old

Examples_old/Monocular-Inertial/mono_inertial_euroc_old
Examples_old/Monocular-Inertial/mono_inertial_tum_vi_old

Examples_old/Stereo-Inertial/stereo_inertial_euroc_old
Examples_old/Stereo-Inertial/stereo_inertial_tum_vi_old

Examples_old/ROS/ORB_SLAM3/Mono_old
Examples_old/ROS/ORB_SLAM3/Mono_Inertial_old
Examples_old/ROS/ORB_SLAM3/MonoAR_old
Examples_old/ROS/ORB_SLAM3/RGBD_old
Examples_old/ROS/ORB_SLAM3/Stereo_old
Examples_old/ROS/ORB_SLAM3/Stereo_Inertial_old

Examples_old/ROS/ORB_SLAM3/CMakeLists.txt.user
Examples_old/ROS/ORB_SLAM3/build/

KeyFrameTrajectory.txt
CameraTrajectory.txt
kf_*.txt
f_*.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
Vocabulary/
build/

lib/

cmake_modules/
cmake-build-debug/
Vocabulary/superpoint_voc.yml.gz


*.pyc
*.osa
.vscode/settings.json
Examples/Stereo-Inertial/EuRoC_IMU/MH01.txt
Examples/Stereo-Inertial/EuRoC_IMU/MH02.txt
Examples/Stereo-Inertial/EuRoC_IMU/MH03.txt
Examples/Stereo-Inertial/EuRoC_IMU/MH04.txt
Examples/Stereo-Inertial/EuRoC_IMU/MH05.txt
Examples/Stereo-Inertial/EuRoC_IMU/V101.txt
Examples/Stereo-Inertial/EuRoC_IMU/V102.txt
Examples/Stereo-Inertial/EuRoC_IMU/V103.txt
Examples/Stereo-Inertial/EuRoC_IMU/V201.txt
Examples/Stereo-Inertial/EuRoC_IMU/V202.txt
Examples/Stereo-Inertial/EuRoC_IMU/V203.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/MH01.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/MH02.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/MH03.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/MH04.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/MH05.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/V101.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/V102.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/V103.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/V201.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/V202.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/V203_2.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/V203.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-corridor1_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-corridor2_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-corridor2_1024.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-corridor3_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-corridor4_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-corridor5_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-magistrale1_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-magistrale2_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-magistrale3_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-magistrale4_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-magistrale5_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-magistrale6_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors1_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors2_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors3_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors4_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors5_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors6_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors7_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors8_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-room1_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-room2_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-room3_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-room4_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-room5_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-room6_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-slides1_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-slides2_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-slides3_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-corridor1_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-corridor2_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-corridor2_1024.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-corridor3_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-corridor4_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-corridor5_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-magistrale1_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-magistrale2_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-magistrale3_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-magistrale4_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-magistrale5_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-magistrale6_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors1_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors2_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors3_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors4_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors5_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors6_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors7_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors8_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-room1_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-room2_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-room3_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-room4_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-room5_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-room6_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-slides1_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-slides2_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-slides3_512.txt
Examples/Monocular-Inertial/EuRoC_IMU/MH01.txt
Examples/Monocular-Inertial/EuRoC_IMU/MH02.txt
Examples/Monocular-Inertial/EuRoC_IMU/MH03.txt
Examples/Monocular-Inertial/EuRoC_IMU/MH04.txt
Examples/Monocular-Inertial/EuRoC_IMU/MH05.txt
Examples/Monocular-Inertial/EuRoC_IMU/V101.txt
Examples/Monocular-Inertial/EuRoC_IMU/V102.txt
Examples/Monocular-Inertial/EuRoC_IMU/V103.txt
Examples/Monocular-Inertial/EuRoC_IMU/V201.txt
Examples/Monocular-Inertial/EuRoC_IMU/V202.txt
Examples/Monocular-Inertial/EuRoC_IMU/V203.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/MH01.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/MH02.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/MH03.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/MH04.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/MH05.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/V101.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/V102.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/V103.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/V201.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/V202.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/V203.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-corridor1_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-corridor2_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-corridor2_1024.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-corridor3_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-corridor4_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-corridor5_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-magistrale1_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-magistrale2_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-magistrale3_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-magistrale4_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-magistrale5_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-magistrale6_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors1_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors2_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors3_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors4_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors5_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors6_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors7_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors8_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-room1_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-room2_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-room3_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-room4_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-room5_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-room6_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-slides1_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-slides2_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-slides3_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-corridor1_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-corridor2_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-corridor2_1024.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-corridor3_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-corridor4_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-corridor5_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-magistrale1_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-magistrale2_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-magistrale3_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-magistrale4_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-magistrale5_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-magistrale6_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors1_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors2_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors3_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors4_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors5_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors6_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors7_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors8_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-room1_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-room2_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-room3_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-room4_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-room5_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-room6_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-slides1_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-slides2_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-slides3_512.txt
Examples/Monocular/EuRoC_TimeStamps/MH01.txt
Examples/Monocular/EuRoC_TimeStamps/MH02.txt
Examples/Monocular/EuRoC_TimeStamps/MH03.txt
Examples/Monocular/EuRoC_TimeStamps/MH04.txt
Examples/Monocular/EuRoC_TimeStamps/MH05.txt
Examples/Monocular/EuRoC_TimeStamps/V101.txt
Examples/Monocular/EuRoC_TimeStamps/V102.txt
Examples/Monocular/EuRoC_TimeStamps/V103.txt
Examples/Monocular/EuRoC_TimeStamps/V201.txt
Examples/Monocular/EuRoC_TimeStamps/V202.txt
Examples/Monocular/EuRoC_TimeStamps/V203.txt
Examples/Monocular/TUM_TimeStamps/dataset-corridor1_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-corridor2_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-corridor2_1024.txt
Examples/Monocular/TUM_TimeStamps/dataset-corridor3_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-corridor4_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-corridor5_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-magistrale1_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-magistrale2_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-magistrale3_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-magistrale4_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-magistrale5_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-magistrale6_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors1_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors2_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors3_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors4_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors5_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors6_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors7_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors8_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-room1_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-room2_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-room3_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-room4_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-room5_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-room6_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-slides1_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-slides2_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-slides3_512.txt
