CMakeLists.txt.user
CMakeLists_modified.txt

Examples/RGB-D/rgbd_tum

Examples/Monocular/mono_euroc
Examples/Monocular/mono_kitti
Examples/Monocular/mono_tum
Examples/Monocular/mono_tum_vi

Examples/Stereo/stereo_euroc
Examples/Stereo/stereo_kitti
Examples/Stereo/stereo_tum_vi

Examples/Monocular-Inertial/mono_inertial_euroc
Examples/Monocular-Inertial/mono_inertial_tum_vi

Examples/Stereo-Inertial/stereo_inertial_euroc
Examples/Stereo-Inertial/stereo_inertial_tum_vi

Examples/ROS/ORB_SLAM3/Mono
Examples/ROS/ORB_SLAM3/Mono_Inertial
Examples/ROS/ORB_SLAM3/MonoAR
Examples/ROS/ORB_SLAM3/RGBD
Examples/ROS/ORB_SLAM3/Stereo
Examples/ROS/ORB_SLAM3/Stereo_Inertial

Examples/ROS/ORB_SLAM3/CMakeLists.txt.user
Examples/ROS/ORB_SLAM3/build/

Examples_old/RGB-D/rgbd_tum_old

Examples_old/Monocular/mono_euroc_old
Examples_old/Monocular/mono_kitti_old
Examples_old/Monocular/mono_tum_old
Examples_old/Monocular/mono_tum_vi_old

Examples_old/Stereo/stereo_euroc_old
Examples_old/Stereo/stereo_kitti_old
Examples_old/Stereo/stereo_tum_vi_old

Examples_old/Monocular-Inertial/mono_inertial_euroc_old
Examples_old/Monocular-Inertial/mono_inertial_tum_vi_old

Examples_old/Stereo-Inertial/stereo_inertial_euroc_old
Examples_old/Stereo-Inertial/stereo_inertial_tum_vi_old

Examples_old/ROS/ORB_SLAM3/Mono_old
Examples_old/ROS/ORB_SLAM3/Mono_Inertial_old
Examples_old/ROS/ORB_SLAM3/MonoAR_old
Examples_old/ROS/ORB_SLAM3/RGBD_old
Examples_old/ROS/ORB_SLAM3/Stereo_old
Examples_old/ROS/ORB_SLAM3/Stereo_Inertial_old

Examples_old/ROS/ORB_SLAM3/CMakeLists.txt.user
Examples_old/ROS/ORB_SLAM3/build/

KeyFrameTrajectory.txt
CameraTrajectory.txt
kf_*.txt
f_*.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
Vocabulary/
build/

lib/

cmake_modules/
cmake-build-debug/
Vocabulary/superpoint_voc.yml.gz


*.pyc
*.osa
.vscode/settings.json
Examples/Stereo-Inertial/EuRoC_IMU/MH01.txt
Examples/Stereo-Inertial/EuRoC_IMU/MH02.txt
Examples/Stereo-Inertial/EuRoC_IMU/MH03.txt
Examples/Stereo-Inertial/EuRoC_IMU/MH04.txt
Examples/Stereo-Inertial/EuRoC_IMU/MH05.txt
Examples/Stereo-Inertial/EuRoC_IMU/V101.txt
Examples/Stereo-Inertial/EuRoC_IMU/V102.txt
Examples/Stereo-Inertial/EuRoC_IMU/V103.txt
Examples/Stereo-Inertial/EuRoC_IMU/V201.txt
Examples/Stereo-Inertial/EuRoC_IMU/V202.txt
Examples/Stereo-Inertial/EuRoC_IMU/V203.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/MH01.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/MH02.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/MH03.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/MH04.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/MH05.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/V101.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/V102.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/V103.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/V201.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/V202.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/V203_2.txt
Examples/Stereo-Inertial/EuRoC_TimeStamps/V203.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-corridor1_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-corridor2_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-corridor2_1024.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-corridor3_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-corridor4_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-corridor5_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-magistrale1_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-magistrale2_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-magistrale3_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-magistrale4_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-magistrale5_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-magistrale6_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors1_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors2_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors3_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors4_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors5_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors6_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors7_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-outdoors8_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-room1_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-room2_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-room3_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-room4_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-room5_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-room6_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-slides1_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-slides2_512.txt
Examples/Stereo-Inertial/TUM_IMU/dataset-slides3_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-corridor1_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-corridor2_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-corridor2_1024.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-corridor3_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-corridor4_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-corridor5_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-magistrale1_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-magistrale2_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-magistrale3_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-magistrale4_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-magistrale5_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-magistrale6_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors1_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors2_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors3_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors4_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors5_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors6_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors7_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-outdoors8_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-room1_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-room2_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-room3_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-room4_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-room5_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-room6_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-slides1_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-slides2_512.txt
Examples/Stereo-Inertial/TUM_TimeStamps/dataset-slides3_512.txt
Examples/Monocular-Inertial/EuRoC_IMU/MH01.txt
Examples/Monocular-Inertial/EuRoC_IMU/MH02.txt
Examples/Monocular-Inertial/EuRoC_IMU/MH03.txt
Examples/Monocular-Inertial/EuRoC_IMU/MH04.txt
Examples/Monocular-Inertial/EuRoC_IMU/MH05.txt
Examples/Monocular-Inertial/EuRoC_IMU/V101.txt
Examples/Monocular-Inertial/EuRoC_IMU/V102.txt
Examples/Monocular-Inertial/EuRoC_IMU/V103.txt
Examples/Monocular-Inertial/EuRoC_IMU/V201.txt
Examples/Monocular-Inertial/EuRoC_IMU/V202.txt
Examples/Monocular-Inertial/EuRoC_IMU/V203.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/MH01.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/MH02.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/MH03.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/MH04.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/MH05.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/V101.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/V102.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/V103.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/V201.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/V202.txt
Examples/Monocular-Inertial/EuRoC_TimeStamps/V203.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-corridor1_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-corridor2_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-corridor2_1024.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-corridor3_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-corridor4_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-corridor5_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-magistrale1_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-magistrale2_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-magistrale3_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-magistrale4_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-magistrale5_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-magistrale6_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors1_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors2_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors3_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors4_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors5_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors6_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors7_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-outdoors8_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-room1_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-room2_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-room3_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-room4_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-room5_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-room6_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-slides1_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-slides2_512.txt
Examples/Monocular-Inertial/TUM_IMU/dataset-slides3_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-corridor1_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-corridor2_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-corridor2_1024.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-corridor3_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-corridor4_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-corridor5_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-magistrale1_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-magistrale2_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-magistrale3_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-magistrale4_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-magistrale5_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-magistrale6_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors1_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors2_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors3_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors4_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors5_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors6_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors7_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-outdoors8_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-room1_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-room2_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-room3_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-room4_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-room5_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-room6_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-slides1_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-slides2_512.txt
Examples/Monocular-Inertial/TUM_TimeStamps/dataset-slides3_512.txt
Examples/Monocular/EuRoC_TimeStamps/MH01.txt
Examples/Monocular/EuRoC_TimeStamps/MH02.txt
Examples/Monocular/EuRoC_TimeStamps/MH03.txt
Examples/Monocular/EuRoC_TimeStamps/MH04.txt
Examples/Monocular/EuRoC_TimeStamps/MH05.txt
Examples/Monocular/EuRoC_TimeStamps/V101.txt
Examples/Monocular/EuRoC_TimeStamps/V102.txt
Examples/Monocular/EuRoC_TimeStamps/V103.txt
Examples/Monocular/EuRoC_TimeStamps/V201.txt
Examples/Monocular/EuRoC_TimeStamps/V202.txt
Examples/Monocular/EuRoC_TimeStamps/V203.txt
Examples/Monocular/TUM_TimeStamps/dataset-corridor1_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-corridor2_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-corridor2_1024.txt
Examples/Monocular/TUM_TimeStamps/dataset-corridor3_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-corridor4_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-corridor5_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-magistrale1_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-magistrale2_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-magistrale3_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-magistrale4_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-magistrale5_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-magistrale6_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors1_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors2_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors3_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors4_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors5_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors6_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors7_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-outdoors8_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-room1_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-room2_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-room3_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-room4_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-room5_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-room6_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-slides1_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-slides2_512.txt
Examples/Monocular/TUM_TimeStamps/dataset-slides3_512.txt
build.bak/build.ninja
build.bak/cmake_install.cmake
build.bak/CMakeCache.txt
build.bak/compile_commands.json
build.bak/Makefile
build.bak/.cmake/api/v1/query/client-vscode/query.json
build.bak/.cmake/api/v1/reply/cache-v2-8512310d908fde149246.json
build.bak/.cmake/api/v1/reply/cmakeFiles-v1-23c8006d6daf558b1a65.json
build.bak/.cmake/api/v1/reply/codemodel-v2-d0b010f587a92a2db979.json
build.bak/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build.bak/.cmake/api/v1/reply/directory-Thirdparty.g2o-Debug-96235f76f9ee371af9b8.json
build.bak/.cmake/api/v1/reply/index-2026-06-25T06-56-57-0502.json
build.bak/.cmake/api/v1/reply/target-g2o-Debug-5ca6765f136c0cad3a06.json
build.bak/.cmake/api/v1/reply/target-mono_euroc-Debug-7a06a582cf0934c887a4.json
build.bak/.cmake/api/v1/reply/target-mono_inertial_euroc-Debug-00aed2f64b8588752913.json
build.bak/.cmake/api/v1/reply/target-mono_inertial_tum_vi-Debug-656a4150ab0874eccacd.json
build.bak/.cmake/api/v1/reply/target-mono_kitti-Debug-cc51259a3d41cab88010.json
build.bak/.cmake/api/v1/reply/target-mono_tum_vi-Debug-f85a93c169b2de95e8fb.json
build.bak/.cmake/api/v1/reply/target-mono_tum-Debug-4a946b5b96ed84be677d.json
build.bak/.cmake/api/v1/reply/target-ORB_SLAM3-Debug-3981fe4a3242aa8e2fcf.json
build.bak/.cmake/api/v1/reply/target-stereo_inertial_euroc-Debug-a5e3fc63738c3b1769e7.json
build.bak/.cmake/api/v1/reply/toolchains-v1-78e1ec32f5d5e8dda251.json
build.bak/CMakeFiles/cmake.check_cache
build.bak/CMakeFiles/CMakeOutput.log
build.bak/CMakeFiles/rules.ninja
build.bak/CMakeFiles/TargetDirectories.txt
build.bak/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build.bak/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build.bak/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build.bak/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build.bak/CMakeFiles/3.22.1/CMakeSystem.cmake
build.bak/CMakeFiles/3.22.1/CompilerIdC/a.out
build.bak/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build.bak/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build.bak/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build.bak/CMakeFiles/FindOpenMP/ompver_C.bin
build.bak/CMakeFiles/FindOpenMP/ompver_CXX.bin
build.bak/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c
build.bak/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
build.bak/CMakeFiles/FindOpenMP/OpenMPTryFlag.c
build.bak/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
build.bak/Thirdparty/g2o/cmake_install.cmake
build.bak/Thirdparty/g2o/Makefile
build.bak/Thirdparty/g2o/CMakeFiles/CMakeDirectoryInformation.cmake
build.bak/Thirdparty/g2o/CMakeFiles/progress.marks
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/build.make
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/cmake_clean.cmake
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/compiler_depend.internal
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/compiler_depend.make
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/compiler_depend.ts
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/depend.make
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/DependInfo.cmake
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/flags.make
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/link.txt
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/progress.make
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/batch_stats.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/batch_stats.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/cache.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/cache.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/estimate_propagator.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/estimate_propagator.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/factory.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/factory.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/hyper_dijkstra.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/hyper_dijkstra.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/hyper_graph_action.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/hyper_graph_action.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/hyper_graph.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/hyper_graph.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/jacobian_workspace.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/jacobian_workspace.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/marginal_covariance_cholesky.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/marginal_covariance_cholesky.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/matrix_structure.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/matrix_structure.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/optimizable_graph.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/optimizable_graph.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/optimization_algorithm_factory.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/optimization_algorithm_factory.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/optimization_algorithm_gauss_newton.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/optimization_algorithm_gauss_newton.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/optimization_algorithm_levenberg.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/optimization_algorithm_levenberg.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/optimization_algorithm_with_hessian.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/optimization_algorithm_with_hessian.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/optimization_algorithm.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/optimization_algorithm.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/parameter_container.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/parameter_container.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/parameter.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/parameter.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/robust_kernel_factory.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/robust_kernel_factory.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/robust_kernel_impl.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/robust_kernel_impl.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/robust_kernel.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/robust_kernel.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/solver.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/solver.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/sparse_optimizer.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/core/sparse_optimizer.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/stuff/os_specific.c.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/stuff/os_specific.c.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/stuff/property.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/stuff/property.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/stuff/string_tools.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/stuff/string_tools.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/stuff/timeutil.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/stuff/timeutil.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/types/types_sba.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/types/types_sba.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/types/types_seven_dof_expmap.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/types/types_seven_dof_expmap.cpp.o.d
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/types/types_six_dof_expmap.cpp.o
build.bak/Thirdparty/g2o/CMakeFiles/g2o.dir/g2o/types/types_six_dof_expmap.cpp.o.d
